
 * Namespace DTCR - "DataTables ColReorder" plug-in
 */

﻿table.dataTable thead th[data-is-resizable=true] {
  border-left: 1px solid transparent;
  border-right: 1px dashed red;
/*  border-right: 1px dashed #bfbfbf;*/
}
table.dataTable thead th.dt-colresizable-hover {
  cursor: col-resize;
  background-color: red;
  border-left: 1px solid red;
/*  background-color: #eaeaea;
  border-left: 1px solid #bfbfbf;
  */
 }
table.dataTable thead th.dt-colresizable-bound-min, 
table.dataTable thead th.dt-colresizable-bound-max {
  opacity: 0.2;
  cursor: not-allowed !important;
}